{% extends 'base.html' %}
<title>{{Post.title}}</title>
{% block content %}
{% load static %}
<meta name="google-adsense-account" content="ca-pub-7505292509269780">

<meta name="description" content=""><style>
    section.blog {
        background-color: #161616;
        width: 100%;
        margin-top: 20px;
        margin-top: 40px;
        padding: 10%;
        margin: auto;
    }
    section.blog h1{
        color: #4169E1;
    
    }
    section.blog h2{
        color: #FFD700;
    
    
    }
    section.blog h3{
        color: #FFD700;
    
    
    }
    section.blog p,h4{
        color: white;
    }
    section.blog img.logo{
        width: 100%;
        background-size: cover;
    
    }
</style>


<section class="blog">

    <div class="blogi">
        <h1>{{postonly.title}}</h1>
        <p>Blog Written at {{postonly.created_on}} by {{postonly.author}}</p>
        
        <br>
        {{postonly.content|safe}}
    </div>
</section>


{% endblock %}