{% extends 'base.html' %}

{% block content %}

<style>
  body{
    background-color: #c5c5c5;
  }
      section.three {
                width: 100%;
                height: 100%;
                display: flex;
                padding: 7%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: #c5c5c59c;
                height: 150vh;
            }
            section.three div.products{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
            }
            section.three div.products h2.pro{
                font-size: 40px;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 20px;
                color: #4169E1;  ;
            }
            section.three div.products h2.prod{
                font-size: 40px;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 20px;
                color: white;
            }
            section.three div.prodlist{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5%;
                margin-top: 0%;
            }
            section.three div.prodlist div.one{
                width: 100%;
    padding: 4%;
            }
            
            section.three div.prodlist div.one img.robot {
  width: 50%;
  filter: grayscale(1);
  transition: filter 0.3s ease-in-out;
}

section.three div.prodlist div.one img.robot:hover {
  filter: grayscale(0);
}

section.three div.prodlist div.one img.robot:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

section.three div.prodlist div.one img.robot:hover:after {
  opacity: 1;
  
}
            
            section.three div.prodlist h3{
                padding: 2%;
    font-size: 20px;
    color: #4169E1;
    margin: 20px 0px 20px 0px;
            }
            section.three div.prodlist a{    
    text-decoration: none;
    border-radius: 10px;
    background: white;
    border: none;
    padding: 2%;
    
    text-align: center;
   
    margin-left: auto;
    margin-right: auto;
    background-color: #4169E1;
    box-shadow: inset 0px 2px 8px 1px #000000;
    color: #FFD700;
            }
            section.three div.prodlist a:hover{
                background-color: #ffeeee;
                color: #4169E1;
                border-color: white;
                transition: all 1s ease-in-out;
                box-shadow: inset 0px 2px 8px 1px #180f0f;
            }
            section.three div.prodlist div.two{
                width: 100%;
    padding: 4%;
            }
            section.three div.prodlist div.two img.custome {
  width: 65%;
  filter: grayscale(1);
  transition: filter 0.3s ease-in-out;
  border-radius: 10px;

}

section.three div.prodlist div.two img.custome:hover {
  filter: grayscale(0);
}

section.three div.prodlist div.two img.custome:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

section.three div.prodlist div.two img.custome:hover:after {
  opacity: 1;
}


            section.three div.products button.but2{
                border-radius: 10px;
    background: white;
    border: none;
    padding: 1%;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4169E1;
    box-shadow: inset 0px 2px 8px 1px #000000;
    color: #FFD700;
            }
            section.three div.products button.but2:hover{
                background-color: #ffeeee;
                color: #4169E1;
                border-color: white;
                transition: all 1s ease-in-out;
                box-shadow: inset 0px 2px 8px 1px #180f0f;
            }


@media screen and (max-width:500px){

section.three div.prodlist{

                flex-direction: column;
                
}
section.three {
height:120vh;
}

}
section.footer {
  background-color: #000000;
  list-style-type: none;
  text-decoration: none ;
  
}
section.footer li{
  list-style-type: none;
}
@media (min-width:500px) and (max-width:800px){

section.three div.prodlist{

                flex-direction: column;
                
}
section.three {
height:220vh;
}

}
</style>


<section class="three">
    <div class="products">
        <h2 class="pro">OUR PRODUCTS</h2>
        
    </div>
    <div class="prodlist">
            <div class="one">
                {% load static %}
                <img src="{% static 'static\robot.png   ' %}" alt="" class="robot">
                <h3 class="proheado">AI Personalized Customer Support Chatbot </h3>
                <a href="ai-chatbot">learn more..</a>
            </div>
            
    </div>
    
     
  </section>


{% endblock %}